# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore IDE specific files
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore node_modules folder
node_modules/

# Ignore compiled files
*.o
*.obj
*.so
*.dll

# Ignore logs and temporary files
logs/
*.log
tmp/
